<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador de Ahorro</title>
    <link rel="stylesheet" href="../public/css/simulador.css"> <!-- Enlace al archivo CSS -->
    <link rel="icon" href="../public/img/ico.ico" type="image/x-icon">
</head>
<body>

    <header>
        <h1>Simulador BETA - Cacique del Ahorro</h1>
    </header>
    
    <nav>
        <a href="/admin">Inicio</a>
        <a href="/productos_admin">Productos</a>
        <a href="/simulador">Simulador</a>
        <a href="/usuarios">Usuarios</a>
        <a href="/">Salir</a>
    </nav>
    
    <h1>Simulador de Ahorro</h1>

    <div>
        <h3>Productos</h3>
        <div id="product-list"></div> 
    </div>

    <div class="cart">
        <h3>Carrito</h3>
        <ul id="cart-items"></ul>
        <p class="total">Total: $<span id="total">0</span></p>
    </div>

    <script src="../public/js/script_simulador.js"></script> <!-- Enlace al archivo JS -->
</body>
</html>
