<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tienda_selesc.css">
    <link rel="icon" href="../public/img/ico.ico" type="image/x-icon">
    <title>Selección de Tiendas</title>
    <script src="../public/js/tienda_selec.js"></script>
</head>
<body>
    <header>
        <section class="barra-superior">
            <div class="logo">
                <img src="../public/img/logoECDA.png" alt="Logo">
            </div>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Buscar...">
                <button onclick="realizarBusqueda()">
                    <img src="../public/img/buscar.png" alt="Buscar">
                </button>
            </div>
            <div class="icons">
                <a href="/categorias">
                    <img src="../public/img/categorias.png" alt="Categorías">
                </a>
                <a href="carrito">
                    <img src="../public/img/carrito-de-compras.png" alt="Carrito de Compras">
                </a>
                <a href="/tiendas">
                    <img src="../public/img/tienda.png" alt="Tienda">
                </a>
                <% if (isLoggedIn) { %>
                    <a href="/auth/logout">
                        <img src="../public/img/cerrar-sesion.png" alt="Cerrar Sesión">
                    </a>
                  <% } else { %>
                    <a href="/login">
                        <img src="../public/img/iniciar-sesion.png" alt="Iniciar Sesión">
                    </a>
                  <% } %>
            </div>
        </section>
    </header> 

    <main>
        <section class="principal">
            <section class="encabezado">
                <div class="boton-enviar">
                    <button onclick="obtenerTiendasSeleccionadas()">Guardar Selección
                        <img src="../public/img/save-info.png" alt="Guardar">
                    </button>
                </div>
                <div class="titulo">
                    <h1>Tiendas</h1>
                </div>
                <div class="busqueda">
                    <input type="text" id="searchTiendaInput" placeholder="Buscar Tienda...">
                    <button onclick="realizarBusquedaMain()">
                    </button>
                </div>
            </section>

            <section class="segunda_seccion">
                <section class="tiendas">
                    <% if (proveedores.length > 0) { %>
                        <% proveedores.forEach(proveedor => { %>
                            <div class="tienda">
                                <label>
                                    <input type="checkbox" class="tienda-checkbox" value="<%= proveedor.Nombre_Proveedor %>" checked>
                                    <%= proveedor.Nombre_Proveedor %>
                                </label>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>No hay proveedores disponibles.</p>
                    <% } %>
                </section>
            </section>
        </section>
    </main>

    <footer>
        <img src="../public/img/logoECDA.png" alt="Logo de la empresa">
        <p>&copy; Derechos Reservados</p>
        <nav>
            <a href="/">Ir al Inicio</a>
        </nav>
    </footer>
</body>
</html>
