/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0e5d8;
    margin: 0;
    padding: 0;
    color: #3f2a21;
}

/* Encabezado */
h1 {
    text-align: center;
    color: #3f2a21;
    margin: 20px 0;
}

/* Botones de navegación */
.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background-color: #d58b72; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Sin subrayado */
    font-weight: bold;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #b47461; /* Color de fondo al pasar el ratón */
}

/* Sección principal */
.section {
    display: none; /* Ocultar secciones por defecto */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5d6c6; /* Color de fondo de las secciones */
}

/* Encabezados de secciones */
h2 {
    text-align: center;
    font-size: 24px;
    color: #3f2a21;
}

h3 {
    font-size: 22px;
    color: #3f2a21;
}

/* Listas y párrafos dentro de las secciones */
p, ul {
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

ul {
    margin-left: 20px;
}

/* Estilo para las listas */
ul li {
    margin-bottom: 5px;
}

/* Para los elementos ocultos en las secciones */
.section p, .section ul {
    margin: 10px;
}

/* Ajustes para enlaces */
a {
    color: #d58b72;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #b47461;
}
