* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    height: 5%;
    width: 100%;
  background-color: #d6b8a5 /* Cambia el color si lo deseas */
}

.barra-superior {
    display: flex;
    height: 100%;
}

.logo {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: left;
    padding-left: 2%
}

.logo img {
    height: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60%;
    height: 100%;
}

.search-bar input {
    background-color: #E8DEF8;
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    border-radius: 30px; /* Deja espacio para el botón dentro del input */
    padding-left: 2%;
}                   

.search-bar button {
    width: 5%;
    height: 80%;
    border: none;
    background: none;
    cursor: pointer;
    padding-left: 4px;
}

.search-bar button img {
    height: 60%;
}

.icons {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons a img{
    height: 50%;
    cursor: pointer;
}



main {
    background-color: #F8EDE3;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    background-color: #DFD3C3;
    width: 95%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo .nombre-titulo{
    background-color: #C5705D;
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50px;
    font-family: lemon;
}

.segundo-apartado{
    background-color: aqua;
    width: 95%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}  

.segundo-apartado .categorias{
    background-color: blueviolet;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categorias .img-categoria{
    background-color: #C5705D;
    width: 65%;
    height: 80%;
    border: solid 1px black;
    border-radius: 10px;
}


footer{
    background-color: #D0B8A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
}
footer img {
    padding-left: 2%;
    height: 100%;

}

footer a{
    margin: 0 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}